<<<<<<< HEAD
.boxcont {
    display: flex;
    align-items: center;
    width : 150px;
    height: 100px;
    background-color:chocolate;
}
.boxone {
    width: 100px;
    height: 50px;
    background-color: bisque;
}
.boxtwo {
    width: 100px;
    height: 50px;
    background-color: blue;
}
.boxthree {
    width: 100px;
    height: 50px;
    background-color: cornflowerblue;
}
.boxfour {
    width: 100px;
    height: 50px;
    background-color: red;
}
=======

>>>>>>> 7a8ec8242b8e616bb19048029542af27e83b67af